:root {
  --color-principal: #272ab3;
  --color-acento: #aa3bff;
  --color-fondo: #ffffff;
  --color-texto: #08060d;
}

.contenedor-header {
  background-color: var(--color-principal);
  height: 85px;
  color: #ffffff;
}

.contenedor-header h1 {
  font-size: 2rem;
}

.contenedor-header p {
  font-size: 1rem;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}