:root {
  --color-principal: #272ab3;
  --color-acento: #aa3bff;
  --color-fondo: #ffffff;
  --color-texto: #08060d;
  --color-titulo: #ffffff;
}

.contenedor-header {
  background-color: var(--color-principal);
  height: 85px;
  color: #ffffff;
}

.contenedor-header h1 {
  font-size: 2rem;
}

.contenedor-header p {
  font-size: 1rem;
}

.titulo-login h2{
color: var(--color-titulo);
  background: #272ab3;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2.2rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1.3rem;
}

.contenedor-registrar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.label-registrar{
  text-decoration: none;
}
body {
  margin: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}