/* src/components/organisms/LoginForm.css */
.titulo-login {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 3rem;
  padding: 0.5rem 3rem;
  border-radius: 50rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #1340a1;
  min-width: 220px;
  display: inline-block;
}

.label-crear-cuenta {
  margin-top: 0.5rem;
  color: #212529;
  font-size: 1rem;
}

.label-registrar {
  text-decoration: none;
  color: #212529;
  font-weight: 400;
}

.texto-header {
  font-size: 2rem;
  color: rgb(253, 253, 253);
}

.contenedor-footer {
  display:  flex;
  justify-content: center;
}

.texto-footer {
  font-size: 1.4rem;
  color: rgb(253, 253, 253);
}

.subtitulo-header {
  font-size: 1rem;
  color: rgb(253, 253, 253);
}

.template-header {
  background: #1340a1;
}

.template-footer {
  background: #1340a1;
}
